
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

 body{
    background-color: #e3e3e3;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

header .btn-contato button, .hero-site button, .produtos button{
    font-size: 18px;
    background-color: transparent;
    border: 1px solid rgb(244, 243, 245);
    color: rgb(242, 244, 247);
    cursor: pointer;
    transition: .5s;
}

/*Estilo Header*/
    header{
        width: 100%;
        padding: 20px 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }

    header .interface{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo{
        display: flex;
    }

    header .duralge{
        font-family: "Akronim", system-ui;
        font-size: 1em;
        font-weight: 400;
        color: white;
    }

    header .duralge span{
        color: rgb(168, 168, 28);
    }

    header .menu-desktop nav ul{
        list-style-type: none;
    }


    header .menu-desktop nav ul li{
        display: inline-block;
        margin: 0 40px;
    }

    header .menu-desktop nav ul li a{
        color: rgb(251, 251, 252);
        font-size: 1.5em;
        text-decoration: none;
        display: inline-block;
        transition: .2s;
    }

    .menu-desktop nav a:hover{
        transform: scale(1.21);
    }

    header .btn-contato button{
        width: 140px;
        height: 40px;
    }

    header .btn-contato button:hover, .hero-site button:hover{
        background-color: aliceblue;
        color: black;
    }

    .logo{
        display: inline-block;
    }
    .imglogo img{
        width: auto;
        height: 60px;
    }

    header.rolar{
        
            background-image: url(../imagens/faixa_header.png);
            background-size: cover; /* Faz a imagem cobrir todo o elemento */
            background-position: center; /* Centraliza a imagem */
            width: 100%; /* Ocupa 100% da largura do contêiner pai */
            margin: 0; /* Remove margens */
            padding: 0; /* Remove preenchimentos */
            /*background-image: linear-gradient(rgba(10, 192, 224, 0.986) 75%,rgb(143, 143, 105), rgba(168, 168, 28, 0.452));*/
        
    }

    header.rolar .menu-desktop{
        color: #242222;
    }


/* Estilo do Hero*/

    section.hero-site{
        height: 100vh;
        background-image: url(../imagens/fundo_principal1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: white;
    }

    .hero-site .interface{
        display: flex;
        align-items: center;
        height: 100%;
    
    }

    .hero-site .txt-hero h1{
        font-size: 5em;
        font-weight: 200;
    }

    .hero-site .txt-hero h2, .hero-site .txt-hero h2 span{
        display: block;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .hero-site .txt-hero p{
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    .hero-site button{
        width: 320px;
        height: 80px;
        font-size: 20px;
    }


/* Estilos de Sobre nós */

section.sobre-nos{
    padding: 80px 0;
}

.sobre-nos .itens-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;
}

.sobre-nos .itens-container .img-itens{
    height: 200px;
}

.sobre-nos .itens-container img{
    height: 300px;
}
.sobre-nos .itens-container .txt-itens h3{
    font-size: 3em;
    line-height: 50px;
}

.sobre-nos .itens-container .txt-itens span{
    font-weight: 200;
}

.sobre-nos .itens-container .txt-itens p{
    margin-top: 15px;
}


/* Estilo da seção de contato */
section.contato {
    background-color: #fff;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Interface da seção de contato */
section.contato .interface {
    display: flex;
    flex-direction: row; /* Deixar os artigos lado a lado */
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 900px; /* Aumenta a largura máxima apenas para esta seção */
    width: 90%; /* Faz a interface ocupar mais espaço na tela */
}

/* Estilização do título */
.contato .interface .txt-contato {
    width: 65%; /* Ocupa metade do espaço */
    position: sticky;
    top: 40%;
}

section.contato .txt-contato h3 {
    font-size: 2.5em;
}

section.contato .txt-contato h3 span {
    font-weight: 200;
    display: block;
}

/* Alinhamento dos botões */
section.contato .icons-contato {
    width: 100%; /* Ocupa metade do espaço */
    display: flex;
    flex-direction: column; /* Empilha os botões verticalmente */
    gap: 15px; /* Espaçamento entre os botões */
    align-items: flex-start; /* Alinha os botões à esquerda */
}

/* Estilização dos links */
section.contato .icons-contato a {
    text-decoration: none;
    width: 100%; /* Faz com que os botões ocupem toda a largura do contêiner */
}

/* Estilização dos botões */
section.contato .icons-contato button {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinha o texto e o ícone */
    gap: 30px;
    width: 100%; /* Faz com que os botões se expandam */
    height: 80px;
    padding: 10px 60px;
    border: 1px;
    border-radius: 8px;
    background-color: #f1f1f1;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

section.contato .icons-contato .mapa button {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinha o texto e o ícone */
    gap: 30px;
    width: 100%; /* Faz com que os botões se expandam */
    height: 40px;
    padding: 10px 60px;
    border: 1px;
    border-radius: 8px;
    background-color: #f1f1f1;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
section.contato .icons-contato button i {
    font-size: 2em;
}

/* Efeito hover */
section.contato .icons-contato button:hover {
    background-color: #242222;
}
section.contato .icons-contato button:hover i, section.contato .icons-contato button:hover p, section.contato .icons-contato .mapa button:hover{
    color: #f1f1f1;
}


/* Estilo da seção Produtos */
section.produtos{
    height: 800px;

    background-image: url(../imagens/teofilo_otoni.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    position: relative;
    color: #fff;
    text-align: center;
    z-index: 1;
}

.produtos > .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242222b6;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.produtos .itens-produtos{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.produtos .itens-produtos .img-itens{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.produtos .itens-produtos .img-itens .txt-produtos span{
    font-size: 1em;
    font-weight: 200;
    color: rgb(10, 10, 10);
    display: block;
    align-items: self-end;
}
.produtos > .interface{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    z-index: 2;
    position: relative;
}

.produtos button, .produtos input {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinha o texto e o ícone */
    gap: 30px;
    width: 100%; /* Faz com que os botões se expandam */
    height: 50px;
    margin: 20px;
    padding: 10px 60px;
    border: 1px;
    border-radius: 8px;
    background-color: #f1f1f1;
    color: #242222;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.produtos button:hover{
    background-color: rgb(130, 141, 27);
    color: rgb(247, 246, 246);
}

.produtos .itens-produtos .img-itens .txt-produtos h1{
    font-size: 5em;
    font-weight: 800;
    color: rgb(223, 211, 45);
}

.produtos .itens-produtos .img-itens .txt-produtos p{
    font-size: 1.4em;
    font-weight: 400;
    color: rgb(238, 238, 223);
    justify-content: space-between;
    padding: 0 100px;
}

.produtos .itens-produtos .img-itens img{
    max-width: 300px;
}

/* Estilo Contato 2 */
.contato2 .interface {
    display: flex;
    flex-direction: row; /* Deixar os artigos lado a lado */
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 900px; /* Aumenta a largura máxima apenas para esta seção */
    width: 90%; /* Faz a interface ocupar mais espaço na tela */
}


/* Estilo Footer */
    footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px;
        position: relative;
        width: 100%;
        bottom: 0;
        z-index: 1;
    }

    .social-links a {
        color: white;
        margin: 0 10px;
        text-decoration: none;
    }

    .whatsapp-float {
        position: fixed;
        width: 90px;
        height: 90px;
        bottom: 20px;
        right: 20px;
        background-color: #25d366;
        color: white;
        border-radius: 50px;
        text-align: center;
        font-size: 60px;
        box-shadow: 2px 2px 3px #999;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

   footer .bottom-footer{
    border-top: 2px solid white;
   }

   footer .bottom-footer p{
    margin-top: 10px;
   }

/* COOKIE */

.popup_cookie{
    position:fixed;
    bottom:0;
    z-index:120000;
    width:100%;
    margin:auto;
    display:none;
    justify-content:center
}

.popup_cookie_show{
    display:flex
}
.popup_cookie_info{
    background-color:#ffffff;
    width:60%;min-width:960px;border-radius:10px 10px 0 0;overflow:hidden;border-top:solid 5px #22252C;box-shadow:0 0 20px -5px #22252C;display:flex;flex-wrap:wrap;justify-content:center;align-items:center;padding-bottom:20px}.popup_cookie_info p{width:80%;padding:20px;text-align:justify;font-size:13px;color:#22252C}.popup_cookie_info p a{text-decoration:underline}.popup_cookie_info p a:hover{color:#727272}.popup_cookie_info_btn{width:20%;display:flex;padding:0 20px;justify-content:center}.popup_cookie_info_btn p{background-color:#F5562E;color:#ffffff;text-align:center;padding:8px 20px;font-size:14px;border-radius:5px;cursor:pointer}.popup_cookie_info_btn p:hover{background-color:#595959}@media (max-width: 960px){.popup_cookie_info{width:96%;min-width:unset}.popup_cookie_info p{width:70%;padding:10px}.popup_cookie_info_btn{width:30%}.popup_cookie_info_btn p{width:100%;padding:8px}}@media (max-width: 700px){.popup_cookie_info{width:100%;border-radius:0;flex-direction:column}.popup_cookie_info p{width:100%;font-size:12px}.popup_cookie_info_btn{width:100%;padding:0;margin:0}.popup_cookie_info_btn p{width:auto;padding:8px 15px}}