
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*  body{
    background: linear-gradient(135deg, #141f33 20%, #2a5298 40%, #3b8d99 60%, #f9d423 80%);
    background-size: 200% 200%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
} */

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

header .btn-contato button, .hero-site button{
    font-size: 18px;
    background-color: transparent;
    border: 1px solid rgb(244, 243, 245);
    color: rgb(242, 244, 247);
    cursor: pointer;
    transition: .5s;
}

/*Estilo Header*/
header{
    width: 100%;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    display: flex;
}

header .duralge{
    font-family: "Akronim", system-ui;
    font-size: 1em;
    font-weight: 400;
    color: white;
}

header .duralge span{
    color: rgb(168, 168, 28);
}

header .menu-desktop nav ul{
    list-style-type: none;
}


header .menu-desktop nav ul li{
    display: inline-block;
    margin: 0 40px;
}

header .menu-desktop nav ul li a{
    color: rgb(251, 251, 252);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

.menu-desktop nav a:hover{
    transform: scale(1.1);
}

header .btn-contato button{
    width: 140px;
    height: 50px;
}

header .btn-contato button:hover, .hero-site button:hover{
    background-color: aliceblue;
    color: black;
}

.logo{
    display: inline-block;
}
.imglogo img{
    width: auto;
    height: 60px;
}

/* Estilo do Hero*/

section.hero-site{
    height: 100vh;
    background-image: url(../imagens/fundo_principal1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.hero-site .interface{
    display: flex;
    align-items: center;
    height: 100%;
   
}

.hero-site .txt-hero h1{
    font-size: 5em;
    font-weight: 200;
}

.hero-site .txt-hero h2, .hero-site .txt-hero h2 span{
    display: block;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-site .txt-hero p{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}

.hero-site button{
    width: 320px;
    height: 80px;
    font-size: 20px;
}


/* Estilo Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}